<section>
    <div class="contactMainFrame">
        <div class="leftFrame">
            <div class="contactMe"><p>CONTACT ME</p></div>
            <div class="headLine"><p>Ready to work together?</p></div>
            <div class="contactText"><p>
                Contact me through this form, I am interested in hearing from you, 
                knowing your ideas and contributing to your projects with my work. 
                <br><br>
                Feel free to get in touch with your project details. 
                I'd love the opportunity to help create a website that meets your needs!</p></div>
            <div class="arrow"><img src="assets/icon/contact/arrowRight.png"></div>
        </div>
            <div class="rightFrame">
                <div class="mailForm">
                    <div class="logo">
                        <svg viewBox="0 0 200 200" class="circle-text">
                            <defs>
                                <path id="circlePath" d="M 100, 100 m -75, 0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0"></path>
                            </defs>
                            <text>
                                <textPath xlink:href="#circlePath" startOffset="50%">
                                    Michael Spari - Frontend Developer Michael Spari - Frontend Developer 
                                </textPath>
                            </text>
                        </svg>
                        <img src="assets/icon/contact/sticker.png" alt="Logo Sticker">
                        <img class="logoImage" 
                                    src="assets/logo/logo_ms_en_over.png" alt="logo" 
                                    srcset="" onmouseover="this.src='assets/logo/logo_ms_en.png'" 
                                    onmouseout="this.src='assets/logo/logo_ms_en_over.png'">
                    </div>
                    <div class="contactRows">
                        <div class="contactFields">
                            <div class="headline"><p>What`s your name?</p></div>
                            <input class="inputField" class="inputField" type="text" placeholder="Your name goes here">
                        </div>
                        <div class="contactFields">
                            <div class="headline"><p>What`s your email?</p></div>
                            <input class="inputField" class="inputField" type="text" placeholder="youremail@email.com">
                        </div>
                        <div class="contactFields">
                            <div class="headline"><p>How can I help you?</p></div>
                            <input class="inputField" class="inputField" type="text" placeholder="Hello Lukas, I am interested in...">
                        </div>
                        <div class="agreeField">
                            <input type="checkbox" id="agree" class="checkField" name="agree">
                            <label for="agree">I've read the <a href="">privacy policy</a> 
                                  and agree to the processing of my data as outlined.</label>  
                        </div>
                        <div class="pleaseAccept"><p>Please accept the privacy policy</p></div>
                        <div class="sendButton"><button class="sendBtn">Send</button></div>
                    </div>
                </div>
            </div>
    </div>
</section>
