@import './../../../styles.scss';

input[type=text], [type=email], select, textarea {
    width: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    color: white;
}
span {
    z-index: 10;
}

section {
    @include dFlex($jc: center, $ai: space-around, $g: 0px);
    background-image: url('./../../../assets/img/backgrounds/bg_contact.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    font-family: 'Bricolage Grotesque';
    padding-top: 100px;
    color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.mainFrame {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
}

.contactMainFrame {
    @include dFlex($jc: space-around, $ai: flex-start, $g: 0px);
    width: 100%;
}

.leftFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column;
    width: 560px;
}

.leftFrameResponsive {
    display: none;
}
.contactMe {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 0px);
    font-size: 20px;
    width: 100%;
}

.headLine {
    font-size: 64px;
    margin-bottom: 50px;
}

.contactText {
    font-size: 18px;
}

.arrow {
    @include dFlex($jc: flex-start, $ai: center, $g: 0px);
    padding-left: 400px;
    margin-top: 50px;
    width: 100%;
}
.arrowImg {
    width: 150px;
    overflow: hidden;
    transition: width 0.1s ease;
    animation: expandWidth 6s infinite;
}

.sendButton {
    cursor: pointer;
    padding-top: 20px;
    margin-bottom: 20px;
}

.errorMessage {
    color: red;
}

.whiteCross {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.signin {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 200px;
    border-radius: 15px;
    background-color: #F87A55;
    padding: 20px;
    color: #FFFFFF ;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInUp 1s forwards;
    display: block;
    z-index: 10;
}

.signin.hidden {
    display: none;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes expandWidth {
    0%, 100% {
        width: 0;
    }
    25%, 75% {
        width: 100%;
    }
}

.rightFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    width: 468px;
}

.mailForm {
    position: relative;
    width: 100%;
    height: 100%;
}

.logoImage {
    position: absolute;
    top: 50px;
    right: 38px;
    width: 90px;
    z-index: 3;
    transform: rotate(15deg);
}

.logo {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 168px;
    z-index: 1;
}

.circle-text {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.circle-text text {
    font-size: 14px;
    font-weight: 400;
    text-anchor: middle;
    fill: black;
}

.contactRows {
    @include dFlex($jc: center, $ai: flex-start, $g: 0px);
    flex-direction: column;
    box-sizing: content-box;
    margin-top: 130px;
}

.contactFields {
    @include dFlex($jc: center, $ai: flex-start, $g: 15px);
    border-bottom: 1px solid #F7C518 ;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 20px;
    
    &:hover {
        border-top: 1px solid #3355FF;
        border-bottom: 1px solid #3355FF;
    }
}

.disabledBtn {
    background-color: transparent !important; /* Deaktivierter Hintergrund */
    color: lightgray !important; /* Deaktivierte Schrift */
    box-shadow: none !important;
    cursor: not-allowed !important;
    transform: none !important;
}

.disabledBtn:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    transform: none !important;
}

.headline {
    font-size: 24px;
}

.agreeField {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 15px);
    height: 20px;
    margin-top: 50px;
}

.checkField {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 15px);
}

a {
    color: #3355FF;
    text-decoration: none;
}

.sendButton {
    @include dFlex($jc: flex-end, $ai: flex-start, $g: 15px);
    margin-top: 60px;
    width: 100%;
}

.pleaseAccept {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 15px);
    margin-top: 30px;
    font-size: 14px;
    color: #F87A55;
    width: 100%;
}
.sendBtn {
    border: 1px solid whitesmoke;
    border-radius: 100px;
    background-color: transparent;
    color: whitesmoke;
    width: 154px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 4px whitesmoke;
    transition: background-color 0.1s, box-shadow 0.2s, transform 0.2s;

    &:hover {
        background-color: #F87A55;
        box-shadow: none;
        transform: translate(2px, 4px);
    }
}
 @media(max-width: 1100px) {
    .contactMainFrame {
        @include dFlex($jc: space-around, $ai: center, $g: 0px);
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 120px;
        padding-right: 120px;
    }
    .contactRows {
        margin-top: 30px;
    }
    .leftFrame {
        @include dFlex($jc: center, $ai: flex-start, $g: 0px);
        flex-direction: column;
        width: 100%;
        display: none;
    }
    .leftFrameResponsive {
        display: block;
        margin-top: 170px;
    }
    .rightFrame {
        @include dFlex($jc: center, $ai: center, $g: 0px);
        flex-direction: column;
        width: 100%;
    }
    .headLine {
        font-size: 48px;
        margin-bottom: 20px;
    }
    .contactText {
        font-size: 16px;
    }
}
@media(max-width: 768px) {
    .contactMainFrame {
        @include dFlex($jc: space-around, $ai: center, $g: 0px);
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 80px;
        padding-right: 80px;
    }
    .sendButton {
        margin-top: 30px;
        margin-top: 20px;
    }
    .sendBtn {
        width: 110px;
        font-size: 14px;
    }
    .headLine {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .contactText {
        font-size: 14px;
    }
    .pleaseAccept {
        padding-top: 30px;
    }
    label {
        font-size: 18px;
    }
    .accept {
        font-size: 14px;
    }
}
@media(max-width: 420px) {
    .contactMainFrame {
        @include dFlex($jc: space-around, $ai: center, $g: 0px);
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
    }
    .headLine {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .contactText {
        font-size: 12px;
    }
    .logoImage {
        position: absolute;
        top: 40px;
        right: 30px;
        width: 60px;
        z-index: 3;
        transform: rotate(15deg);
    }
    .logo {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        z-index: 1;
    }
    .stickerImg {
        width: 120px;
    }
    .pleaseAccept {
        padding-top: 50px;
    }
}