<section>
    <div class="mainFrame">
    <div class="contactMainFrame">
        <div class="leftFrame">
            <div class="contactMe"><p>{{ 'contact.contactMe' | translate }}</p></div>
            <div class="headLine"><p>{{ 'contact.headline' | translate }}</p></div>
            <div class="contactText"><p>{{ 'contact.contactText' | translate }}</p></div>
            <div class="arrow"><img src="assets/icon/contact/arrowRight.png"></div>
        </div>
            <div class="rightFrame">
                <div class="mailForm">
                    <div class="logo">
                        <svg viewBox="0 0 200 200" class="circle-text">
                            <defs>
                                <path id="circlePath" d="M 100, 100 m -75, 0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0"></path>
                            </defs>
                            <text>
                                <textPath xlink:href="#circlePath" startOffset="50%">
                                    Michael Spari - Frontend Developer Michael Spari - Frontend Developer 
                                </textPath>
                            </text>
                        </svg>
                        <img src="assets/icon/contact/sticker.png" alt="Logo Sticker">
                        <img class="logoImage" 
                                    src="assets/logo/logo_ms_en_over.png" alt="logo" 
                                    srcset="" onmouseover="this.src='assets/logo/logo_ms_en.png'" 
                                    onmouseout="this.src='assets/logo/logo_ms_en_over.png'">
                    </div>
                    <div class="contactRows">
                        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                        <div class="contactFields">
                            <div class="headline"><label for="name">{{ 'contact.name' | translate }}</label></div>
                            <input [(ngModel)]="contactData.name" id="name" name="name" class="inputField" type="text" placeholder="Your name goes here" required>
                        </div>
                        <div class="contactFields">
                            <div class="headline"><label for="email">{{ 'contact.email' | translate }}</label></div>
                            <input [(ngModel)]="contactData.email" id="email" name="email" class="inputField" type="text" placeholder="youremail@email.com" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                            <!-- @if (!email.valid && email.touched && email.disabled) {
                                <span>Please enter a email</span>
                            } -->
                        </div>
                        <div class="contactFields">
                            <div class="headline"><label for="message">{{ 'contact.message' | translate }}</label></div>
                            <input #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message" class="inputField" type="text" placeholder="Hello Lukas, I am interested in..." required>
                            @if (!message.valid && message.touched && message.disabled) {
                                <span>Please enter a message</span>
                            }
                        </div>
                        <div class="agreeField">
                            <input type="checkbox" id="agree" class="checkField" name="agree">
                            <label for="agree">{{ 'contact.privacyPolicy' | translate }}<a href="">{{ 'contact.privacyPolicyLink' | translate }}</a></label>  
                        </div>
                        <div class="pleaseAccept"><p>{{ 'contact.accept' | translate }}</p></div>
                        <div class="sendButton"><input type="submit" value="{{ 'contact.send' | translate }}" class="sendBtn"></div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <app-footer></app-footer>
</div>
</section>

