
<section>
    <div><app-header></app-header></div>
    <div class="mainFrame">
        
    <div class="leftFrame">
        <div class="topLeftFrame"><button class="link"><img class="linkin" src="assets/icon/hero/socialMedia/linkin.png"></button></div>
        <div class="middleLeftFrame"><button class="git"><img class="linkin" src="assets/icon/hero/socialMedia/github.png"></button></div>
        <div class="bottomLeftFrame"><button class="mail"><img class="linkin" src="assets/icon/hero/socialMedia/mail.png"></button></div>
    </div>
    <div class="masterContainerFrame">
    
    <div class="container">
        <div class="rowTop">
            <div class="rowTopLeft">
                <div class="rowTopLeftTop">
                    <div class="wavingHandDiv"><img class="wavingHand" src="assets/icon/hero/heWo/waving_hand.png" alt="waving_hand"></div>
                    <div><button class="buttonhewe" onmouseover="this.innerHTML='I`M MICHAEL SPARI'" onmouseout="this.innerHTML='Hello world'">Hello world</button></div>
                </div>
                    <div class="rowTopLeftBottom">
                        <p class="rowTopLeftBottomText">
                            <span class="hover-char" appHighlight>F</span>
                            <span class="hover-char" appHighlight>r</span>
                            <span class="hover-char" appHighlight>o</span>
                            <span class="hover-char" appHighlight>n</span>
                            <span class="hover-char" appHighlight>t</span>
                            <span class="hover-char" appHighlight>e</span>
                            <span class="hover-char" appHighlight>n</span>
                            <span class="hover-char" appHighlight>d</span>
                          </p>
                    </div>
                </div>
                <div class="rowTopRight">
                    <img src="assets/icon/hero/profil/Group-33.png" alt="hero-image">
                </div>
            </div>
            <div class="rowBottom">
                <div class="rowBottomTop">
                    <p class="rowBottomTopText">
                        <span class="hover-char" appHighlight>D</span>
                        <span class="hover-char" appHighlight>E</span>
                        <span class="hover-char" appHighlight>V</span>
                        <span class="hover-char" appHighlight>E</span>
                        <span class="hover-char" appHighlight>L</span>
                        <span class="hover-char" appHighlight>O</span>
                        <span class="hover-char" appHighlight>P</span>
                        <span class="hover-char" appHighlight>E</span>
                        <span class="hover-char" appHighlight>R</span>
                    </p>
                </div>
                <div class="rowBottomBottom"><button class="getInTouch">Get in Touch</button></div>
            </div>
        </div>
    </div>
    </div>
</section>

