@import './../../../styles.scss';
section {
    height: 100vh;
    max-width: 1440px;
    background-image: url('./../../../assets/img/backgrounds/01_Hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainFrame {
    @include dFlex($jc: space-around, $ai: flex-end, $g: 0px);
    width: 100%;
    height: 650px;
}

.wavingHandDiv {
    @include dFlex($jc: flex-end, $ai: center, $g: 0px);
    width: 240px;
}

.wavingHand {
    padding-right: 50px;
    opacity: 0;
    transition: padding-right 0.4s, transform 0.4s, opacity 0.4s;
}

// Kombinierte Selektoren, um den Hover-Zustand zu erreichen
.rowTopLeftTop:hover .wavingHand {
    padding-right: 0;
    transform: rotate(360deg);
    opacity: 1;
}

.buttonhewe {
    border: 1px solid whitesmoke;
    border-radius: 100px;
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, transform 0.4s;
    transform-origin: left;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: #3355FF;
        transition: width 0.4s, left 0.4s;
        z-index: -1;
    }

    &:hover::before {
        width: 100%;
        left: 0;
    }

    &:hover {
        color: whitesmoke;
        transform: scaleX(1.1);
    }
}

.link {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-color: black;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    >img {
        z-index: 10;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #3355FF;
        transition: height 0.1s;
        z-index: 1;
    }

    &:hover::before {
        height: 100%;
    }
}

.git {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-color: black;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    >img {
        z-index: 10;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #3355FF;
        transition: height 0.1s;
        z-index: 1;
    }

    &:hover::before {
        height: 100%;
    }
}

.mail {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-color: black;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    >img {
        z-index: 10;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #3355FF;
        transition: height 0.1s;
        z-index: 1;
    }

    &:hover::before {
        height: 100%;
    }
}

.getInTouch {
    border: 1px solid whitesmoke;
    border-radius: 100px;
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 4px whitesmoke;
    transition: background-color 0.1s, box-shadow 0.2s, transform 0.2s;

    &:hover {
        background-color: #F87A55;
        box-shadow: none;
        transform: translate(2px, 4px);
    }
}

.leftFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column;
}

.topLeftFrame {
    border: 0px solid yellow;
}

.middleLeftFrame {
    border: 0px solid green;
}

.bottomLeftFrame {
    border: 0px solid red;
}

.masterContainerFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    width: 80%;
    height: 600px;
}


.container {
    @include dFlex($jc: space-between, $ai: space-between, $g: 24px);
    flex-direction: column;
    color: whitesmoke;
    width: 75%;
    height: 490px;
    opacity: 0px;
}

.rowTop {
    @include dFlex($jc: space-between, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
    padding: 0 0px;
}

.rowBottom {
    @include dFlex($jc: space-between, $ai: center, $g: 0px);
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 0 0px;
}

.rowTopLeft {
    @include dFlex($jc: center, $ai: center, $g: 24px);
    flex-direction: column;
    width: 65%;
    height: 100%;
}
.rowTopRight {
    @include dFlex($jc: center, $ai: center, $g: 24px);
    width: 35%;
    height: 100%;
}

.rowTopLeftTop {
    @include dFlex($jc: flex-end, $ai: flex-start, $g: 0px);
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.rowTopLeftBottom {
    @include dFlex($jc: flex-start, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
}

.rowBottomTop {
    @include dFlex($jc: flex-end, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
}

.rowBottomBottom {
    @include dFlex($jc: flex-end, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
}

.rowTopLeftBottomText{
    font-size: 128px;
    font-weight: 700;
    font-family: "Bricolage Grotesque";
}

.rowBottomTopText {
    font-size: 128px;
    font-weight: 700;
    font-family: "Bricolage Grotesque";
}