@import './../../../styles.scss';
section {
    width: 100%;
    box-sizing: border-box;
    height: 800px;
    margin: 0 auto;
    background-image: url('./../../../assets/img/backgrounds/01_Hero.jpg');
    background-size: cover;
    background-position: bottom;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.mainFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    box-sizing: border-box;
    width: 100%;
    height: 650px;
}

.centerMain {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    max-width: 1440px;
    width: 100%;
}

.masterContainerFrame {
    width: calc(100% - 32px);
    max-width: 1440px;
    display: flex;
    align-items: center;
}

.container {
    @include dFlex($jc: space-between, $ai: space-between, $g: 24px);
    width: 100%;
    flex-direction: column;
    color: whitesmoke;
    height: 490px;
}

.placeholder {
    width: 20%;
    height: 100%;
    background-color: none;
}

.wavingHandDiv {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column-reverse;
}

.btnAnimation {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    border: 1px solid whitesmoke;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.leftFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column;
    margin-left: 5%;
}

.rowTop {
    @include dFlex($jc: space-between, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
}

.rowBottom {
    @include dFlex($jc: space-between, $ai: center, $g: 0px);
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 0 0px;
}

.rowTopLeft {
    @include dFlex($jc: center, $ai: flex-start, $g: 24px);
    flex-direction: column;
    width: 65%;
    height: 100%;
}
.rowTopRight {
    @include dFlex($jc: center, $ai: center, $g: 24px);
    width: 35%;
    height: 100%;
}

.rowTopLeftTop {
    @include dFlex($jc: flex-end, $ai: flex-start, $g: 0px);
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.rowTopLeftBottom {
    @include dFlex($jc: flex-start, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
}

.rowBottomTop {
    @include dFlex($jc: flex-end, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
}

.rowBottomBottom {
    @include dFlex($jc: flex-end, $ai: center, $g: 0px);
    width: 100%;
    height: 50%;
}

.imageMeFrame {
    display: none;
}

.imageMe {
    max-width: 225px;
    width: 100%;
}

.animationText{
    font-size: 128px;
    font-weight: 700;
    font-family: "Bricolage Grotesque";
}

@media(max-width: 1320px) {
    .animationText{
        font-size: 110px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
}

@media(max-width: 1170px) {
    .animationText{
        font-size: 90px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
    .imageMe {
        max-width: 190px;
        width: 100%;
    }
}

@media(max-width: 990px) {
    .animationText{
        font-size: 80px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
    .imageMe {
        max-width: 190px;
        width: 100%;
    }
    .getInTouch {
        font-size: 14px;
    }
    .btnAnimation {
        font-size: 14px;
    }
}

@media(max-width: 900px) {
    .animationText{
        font-size: 68px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
    .imageMe {
        max-width: 150px;
        width: 100%;
    }
    .mainFrame {
        height: 500px;
    }
}

@media(max-width: 768px) {
    .animationText{
        font-size: 70px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
    .imageMe {
        max-width: 220px;
        width: 100%;
    }
    .rowTopRight {
        display: none;
    }
    .imageMeFrame {
        @include dFlex($jc: center, $ai: center, $g: 0px);
    }
    .leftFrame {
        display: none;
    }
    .rowBottomBottom {
        margin-top: 20px;
    }
    .placeholder {
        width: 10%;
        height: 100%;
    }
}

@media(max-width: 520px) {
    .animationText{
        font-size: 60px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
    .imageMe {
        max-width: 190px;
        width: 100%;
    }
    .placeholder {
        width: 0px;
        height: 0px;
    }
}
@media(max-width: 382px) {
    .animationText{
        font-size: 48px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
    .imageMe {
        max-width: 190px;
        width: 100%;
    }
    .placeholder {
        width: 0px;
        height: 0px;
    }
    section {
        height: 700px;
    }
}
@media(max-width: 316px) {
    .animationText{
        font-size: 40px;
        font-weight: 700;
        font-family: "Bricolage Grotesque";
    }
    .imageMe {
        max-width: 190px;
        width: 100%;
    }
    .placeholder {
        width: 0px;
        height: 0px;
    }
}