@import './../../../styles.scss';

nav {
    font-family: "Bricolage Grotesque";
    width: 1440px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 72px;
    padding-right: 72px;
    @include dFlex($jc: space-between, $g: 0px);
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        @include dFlex($jc: space-between, $g: 0px);
        width: 100%;
        height: Hug (42px)px;
        opacity: 0px;
        >a {
            text-decoration: none;
        }
    }
}

.nav-text {
    color: whitesmoke;
    margin: 0 16px;
    font-size: 24px;
}


