@import './../../../styles.scss';

nav {
    font-family: "Bricolage Grotesque";
    width: 1440px;
    max-width: 1440px;
    padding: 19px 72px;
    @include dFlex($jc: space-between, $g: 0px);
    
    > img {
        width: 64px;
        height: 64px;
    }

    > .navContainer {
        @include dFlex($jc: space-between, $g: 0px);
        width: 100%;
        height: auto;
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

.nav-text {
    color: whitesmoke;
    margin: 0 16px;
    font-size: 18px;
}

.logo {
    height: 120px;
    
}

.aboutMe {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 45px;
    overflow: hidden;

    .aboutMeText {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: whitesmoke;
        font-size: 24px;
        text-align: center;
    }

    .aboutMeOutLine {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease;
        z-index: 1;

        img {
            width: 105px;
            height: 43px;
            object-fit: cover;
        }
    }

    &:hover {
        .aboutMeOutLine {
            height: 42px;
        }
    }
}

.skills {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 45px;
    overflow: hidden;

    .skillsText {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: whitesmoke;
        font-size: 24px;
        text-align: center;
    }

    .skillsOutLine {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        overflow: hidden;
        transition: width 0.4s ease;
        z-index: 1;

        img {
            width: 105px;
            height: 43px;
            object-fit: cover;
        }
    }

    &:hover {
        .skillsOutLine {
            width: 105px;
        }
    }
}

.projects {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 45px;
    overflow: hidden;

    .projectsText {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: whitesmoke;
        font-size: 24px;
        text-align: center;
    }

    .projectsOutLine {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        overflow: hidden;
        transition: width 0.4s ease;
        z-index: 1;

        img {
            width: 105px;
            height: 43px;
            object-fit: cover;
        }
    }

    &:hover {
        .projectsOutLine {
            width: 105px;
        }
    }
}

.contacts {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 45px;
    overflow: hidden;

    .contactsText {
        position: absolute;
        width: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: whitesmoke;
        font-size: 24px;
        text-align: center;
    }

    .contactsOutLine {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        overflow: hidden;
        transition: width 0.4s ease;
        z-index: 1;

        img {
            width: 105px;
            height: 43px;
            object-fit: cover;
        }
    }

    &:hover {
        .contactsOutLine {
            width: 105px;
        }
    }
}



