<nav>  
    <div class="navContainer">   
        <a routerLink=""><img class="logo" src="assets/logo/logo_ms_en_over.png" alt="logo" srcset="" onmouseover="this.src='assets/logo/logo_ms_en.png'" onmouseout="this.src='assets/logo/logo_ms_en_over.png'"></a>

        <div class="aboutMe">
            <div class="aboutMeText">
                <a href="#aboutMe"><span class="nav-text">About Me</span></a>
            </div>
                <div class="aboutMeOutLine">
                    <img src="assets/icon/nav/en_de_btn/B.1 1.png" alt="About Me Icon">
                </div>
        </div>

        <div class="skills">
            <div class="skillsText">
                <a href="#mySkills"><span class="nav-text">Skills</span></a>
            </div>
                <div class="skillsOutLine">
                    <img src="assets/icon/nav/en_de_btn/B.1 2.png" alt="Skills Icon">
                </div>
        </div>

        <div class="projects">
            <div class="projectsText">
                <a href="#projects"><span class="nav-text">Projects</span></a>
            </div>
                <div class="projectsOutLine">
                    <img src="assets/icon/nav/en_de_btn/B.1 4.png" alt="Projects Icon">
                </div>
        </div>

        <div class="contacts">
            <div class="contactsText">
                <a href="#contact"><span class="nav-text">Contacts</span></a>
            </div>
                <div class="contactsOutLine">
                    <img src="assets/icon/nav/en_de_btn/B.1 3.png" alt="Contacts Icon">
                </div>
        </div>

        <img src="assets/icon/nav/en_de_btn/Property 1=Toggle Left.png" alt="en_de_btn" srcset="">
    </div>
</nav>
  