@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-family: 'Bricolage Grotesque';
    background-color: #FFFFFF;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
}
button {
    z-index: 10;
}

.topRowProjects {
    @include dFlex($jc: space-around, $ai: center, $g: 60px);
    background-color: #FFFFFF;
    max-width: 1440px;
    width: 100%;
}

.bottomRowProjects {
    @include dFlex($jc: space-around, $ai: flex-start, $g: 60px);
    background-color: #FFFFFF;
    max-width: 1440px;
    width: 100%;
}

.projectsTitle {
    max-width: 560px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
}

.projectText {
    padding-top: 20px;
    padding-bottom: 20px;
}

.yellowLine {
    font-size: 64px;
    font-weight: 700;
}

.yellowLineImg {
    width: 150px;
    overflow: hidden;
    transition: width 0.1s ease;
    animation: expandWidth 6s infinite;
}
@keyframes expandWidth {
    0%, 100% {
        width: 0;
    }
    25%, 75% {
        width: 100%;
    }
}

.projectsDescription {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column;
    position: relative;
    max-width: 560px;
    width: 100%;
    font-size: 18px;
}

.sticker {
    position: absolute;
    max-width: 168px;
    width: 100%;
    z-index: 1;
    bottom: 140px;
    left: 5px;
}

.projectFrame {
    position: relative;
    max-width: 560px;
    width: 100%;
}

@media(max-width: 1080px) {
    .topRowProjects {
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
    }
    .bottomRowProjects {
        @include dFlex($jc: space-around, $ai: center, $g: 60px);
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
    }
    .yellowLine {
        font-size: 48px;
        font-weight: 700;
    }
}
@media(max-width: 720px) {
    .projectsDescription {
        font-size: 14px;
    }
    section {
        padding-left: 80px;
        padding-right: 80px;
    }
    .projectsTitle {
        font-size: 16px;
    }
    .projectText {
        font-size: 14px;
    }
    .sticker {
        >img {
            width: 128px;
        }
    }
    .yellowLine {
        font-size: 38px;
        font-weight: 700;
    }
}
@media(max-width: 550px) {
    .projectsDescription {
        font-size: 14px;
    }
    section {
        padding-left: 40px;
        padding-right: 40px;
    }
    .projectsTitle {
        font-size: 16px;
    }
    .projectText {
        font-size: 14px;
    }
    .sticker {
        >img {
            width: 80px;
        }
    }
}