@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-family: 'Bricolage Grotesque';
    background-color: #FFFFFF;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.topRowProjects {
    @include dFlex($jc: space-around, $ai: center, $g: 0px);
    background-color: #FFFFFF;
    max-width: 1440px;
    width: 100%;
}

.bottomRowProjects {
    @include dFlex($jc: space-around, $ai: flex-start, $g: 0px);
    background-color: #FFFFFF;
    max-width: 1440px;
    width: 100%;
    height: 600px;
}

.projectsTitle {
    width: 560px;
    margin-bottom: 20px;
    font-size: 18px;
}

.projectText {
    padding-top: 20px;
    padding-bottom: 20px;
}

.yellowLine {
    font-size: 64px;
    font-weight: 700;
}

.projectsDescription {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column;
    position: relative;
    width: 560px;
    font-size: 18px;
}

.sticker {
    position: absolute;
    max-width: 168px;
    width: 100%;
    z-index: 1;
    bottom: 140px;
    left: 5px;
}

.projectFrame {
    position: relative;
    width: 560px;
}