<section>
    <div class="topRowProjects">
        <div class="projectsTitle">
            <p>{{ 'projects.text-craft' | translate }}</p>
            <div class="yellowLine"><p>{{ 'projects.headline' | translate }}</p>
                <img src="assets/icon/projects/yellowLine.png" alt="section divider">
            </div>
            <p>{{ 'projects.text-all' | translate }}</p>
        </div>
        <div class="projectsDescription">
            <div class="laptop">
                <img class="sticker" src="assets/img/projects/Sticker.png" alt="laptop">
                <img src="assets/img/projects/laptop1.png" alt="laptop">
                <div class="rowBottomBottom"><button class="projectDetails">{{ 'projects.button-join' | translate }}</button></div>
            </div>
            <div class="joinText">
                <b><h1>{{ 'projects.headline-join' | translate }}</h1></b>
            <p>{{ 'projects.text-join' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="bottomRowProjects">

        <div class="projectFrame">
            <div><img class="projectImage" src="assets/img/projects/theDebugger.png"></div>
            <div class="rowBottomBottom"><button routerLink="details" class="projectDetails">{{ 'projects.button-debugger' | translate }}</button></div>
            <div class="projectText">
                <b><h1>{{ 'projects.headline-debugger' | translate }}</h1></b>
                    <p>{{ 'projects.text-debugger' | translate }}</p>
            </div>
        </div>

        <div class="projectFrame">
            <div><img class="projectImage" src="assets/img/projects/daBubble.png"></div>
            <div class="rowBottomBottom"><button class="projectDetails">{{ 'projects.button-pokedex' | translate }}</button></div>
            <div class="projectText">
                <b><h1>{{ 'projects.headline-pokedex' | translate }}</h1></b>
                    <p>{{ 'projects.text-pokedex' | translate }}
                    </p>
            </div>
        </div>
    </div>
</section>
