<section>
    <div class="topRowProjects">
        <div class="projectsTitle">
            <p>MY CRAFT</p>
            <h1>Projects</h1>
            <img src="assets/icon/projects/yellowLine.png" alt="section divider">
            <p>Take a look at some of my projects and see my front-end skills in action. 
                Each project highlights my approach to building responsive, 
                user-friendly designs with efficient code.</p>
        </div>
        <div class="projectsDescription">
            <div class="laptop">
                <img class="sticker" src="assets/img/projects/Sticker.png" alt="laptop">
                <img src="assets/img/projects/laptop1.png" alt="laptop">
            </div>
            <div class="joinText">
                <b><p>Join</p></b>
            <p>Task manager inspired by the Kanban System. 
                Create and organize tasks using drag and drop functions, 
                assign users and categories. </p>
        </div>
        </div>
    </div>
    <div class="bottomRowProjects">
        <div class="proTheDebugger">
            <div><img class="theDebugger" src="assets/img/projects/theDebugger.png"></div>

        </div>
        <div class="daBubble"></div>
    </div>
</section>
