@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-family: 'Bricolage Grotesque';
    background-color: #FFFFFF;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.mainFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    box-sizing: border-box;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

.thoughtsHeadline {
    @include dFlex($jc: center, $ai: flex-end, $g: 0px);
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.topRow {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-size: 20px;
}

.arrow {
    padding-right: 10px;
    padding-top: 10px;
}

.bottomRow {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-size: 62px;
    font-weight: 700;
}

.thoughtsCards {
    @include dFlex($jc: center, $ai: center, $g: 0px);
}

.cardComment {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 18px;
}

.signaturesCard {
    @include dFlex($jc: space-around, $ai: flex-end, $g: 0px);
    padding-top: 60px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
}

.cardName {
    font-size: 18px;
    font-weight: 700;
}

.fontendDeveloper {
    font-size: 16px;
}

.cardNameProfile {
    @include dFlex($jc: space-between, $ai: center, $g: 10px);
    font-size: 18px;
    height: 50px;

}

.cardOne {
    background-image: url('./../../../assets/icon/thoughts/card1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
    transform: rotate(-4deg);
    z-index: 2;
}

.cardTwo {
    background-image: url('./../../../assets/icon/thoughts/card2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
    z-index: 1;
}

.cardThree {
    background-image: url('./../../../assets/icon/thoughts/card1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
    transform: rotate(4deg);
    z-index: 0;
    margin-bottom: 50px;
}

@media(max-width: 1080px) {
    .thoughtsCards {
        @include dFlex($jc: center, $ai: center, $g: 0px);
        flex-direction: column;
        width: 100%;
    }
    .bottomRow {
        font-size: 48px;
    }
    .cardOne {
        width: 70%;
    }
    
    .cardTwo {
        width: 70%;;
    }
    
    .cardThree {
        width: 70%;
    }
}
@media(max-width: 920px) {
    .mainFrame {
        padding-left: 100px;
        padding-right: 100px;
    }
    .cardComment {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .mainFrame {
        padding-left: 80px;
        padding-right: 80px;
    }
    .bottomRow {
        font-size: 36px;
    }
    .cardComment {
        font-size: 14px;
    }
    .cardName {
        font-size: 14px;
        font-weight: 500;
    }
    
    .fontendDeveloper {
        font-size: 12px;
    }
    .words {
        font-size: 14px;
    }
    
    .cardNameProfile {
        @include dFlex($jc: space-between, $ai: center, $g: 10px);
        font-size: 14px;
        height: 50px;
    
    }
}
@media(max-width: 520px) {
    .mainFrame {
        padding-left: 40px;
        padding-right: 40px;
    }
    .bottomRow {
        font-size: 28px;
    }
}
@media(max-width: 382px) {
    .mainFrame {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cardComment {
        font-size: 12px;
    }
}


// @import './../../../styles.scss';

// #feedbackSection {
//     @include setFlex();
//     margin-top: 150px;
// }

// #feedbackSectionContent {
//     @include setFlex($fd: column);
//     width: 100%;
// }

// .feedbackHeadlineContainer {
//     align-self: flex-end;
//     @include setFlex($fd: column, $ai: flex-end);
// }

// .introductionContainer {
//     @include setFlex($gap: 8px);
// }

// .fadeInRightLeftContainer {
//     width: 150px;
//     overflow: hidden;
// }

// #fadeInImageFeedback {
//     width: 150px;
// }

// .feedbacksContainer {
//     position: relative;
//     @include setFlex();
//     margin-top: 64px;
//     height: 350px;
//     width: 100%;
// }

// .feedbackContainer {
//     width: 486px;
//     height: 320px;
//     padding: 24px;
//     @include setFlex($fd: column, $ai: space-between, $jc: flex-end, $gap: 8px);
//     position: absolute;
//     border-radius: 20px;

//     &:hover::after {
//         content: "";
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         z-index: -1;
//         background-image: url('./../../../assets/images/03_Stickers/02_Testimonials/Color option 1/Hover.png');
//         background-size: cover;
//         opacity: 1;
//     }
// }

// .feedbackText {
//     flex: 1;
// }

// .feedbackFrom {
//     @include setFlex($jc: space-between, $ai: flex-end);
// }

// .feefbackFrom__Profile {
//     @include setFlex($gap: 8px);
// }

// #feedback1 {
//     top: 0;
//     left: 50px;
//     z-index: 3;
//     background-image: url('./../../../assets/images/03_Stickers/02_Testimonials/Color option 1/A.png');
//     background-size: cover;
//     transform: rotate(-4deg);
//     transition: $stdTransition;


//     &:hover {
//         z-index: 4;
//         transform: rotate(-3deg) translateY(-8px);
//     }
// }

// #feedback2 {
//     top: 24px;
//     z-index: 2;
//     background-image: url('./../../../assets/images/03_Stickers/02_Testimonials/Color option 1/B.png');
//     background-size: cover;
//     transition: $stdTransition;

//     &:hover {
//         z-index: 4;
//         transform: rotate(-1deg) translateY(-8px);
//     }
// }

// #feedback3 {
//     top: 0;
//     right: 50px;
//     z-index: 1;
//     background-image: url('./../../../assets/images/03_Stickers/02_Testimonials/Color option 1/A.png');
//     background-size: cover;
//     transform: rotate(4deg);
//     transition: $stdTransition;

//     &:hover {
//         z-index: 4;
//         transform: rotate(3deg) translateY(-8px);
//     }
// }

// .feefbackFrom__Name> :nth-child(1) {
//     font-size: 20px;
//     font-weight: 700;
// }

// .feefbackFrom__Name> :nth-child(2) {
//     font-size: 16px;
//     font-weight: 500;
// }

// .feedbackLink {
//     &:hover {
//         * {
//             color: $clrBaseBright;
//         }

//         .feedbackIcon {
//             fill: $clrBaseBright;
//         }
//     }

//     &:any-link {
//         color: inherit;
//     }

//     &:hover {
//         color: inherit;
//     }

//     &:active {
//         color: inherit;
//     }

//     &:visited {
//         color: inherit;
//     }

// }