@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-family: 'Bricolage Grotesque';
    background-color: #FFFFFF;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.mainFrame {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    box-sizing: border-box;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

.thoughtsHeadline {
    @include dFlex($jc: center, $ai: flex-end, $g: 0px);
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.topRow {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-size: 20px;
}

.arrow {
    padding-right: 10px;
    padding-top: 10px;
}

.bottomRow {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-size: 62px;
    font-weight: 700;
}

.thoughtsCards {
    @include dFlex($jc: center, $ai: center, $g: 0px);
}

.cardComment {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 18px;
}

.signaturesCard {
    @include dFlex($jc: space-around, $ai: flex-end, $g: 0px);
    padding-top: 60px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
}

.cardName {
    font-size: 18px;
    font-weight: 700;
}

.fontendDeveloper {
    font-size: 16px;
}

.cardNameProfile {
    @include dFlex($jc: space-between, $ai: center, $g: 10px);
    font-size: 18px;
    height: 50px;

}

.cardOne {
    background-image: url('./../../../assets/icon/thoughts/card1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
    transform: rotate(-4deg);
    z-index: 2;
}

.cardTwo {
    background-image: url('./../../../assets/icon/thoughts/card2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
    z-index: 1;
}

.cardThree {
    background-image: url('./../../../assets/icon/thoughts/card1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
    transform: rotate(4deg);
    z-index: 0;
}

@media(max-width: 1080px) {
    .thoughtsCards {
        @include dFlex($jc: center, $ai: center, $g: 0px);
        flex-direction: column;
        width: 100%;
    }
    .bottomRow {
        font-size: 48px;
    }
    .cardOne {
        width: 70%;
    }
    
    .cardTwo {
        width: 70%;;
    }
    
    .cardThree {
        width: 70%;
    }
}
@media(max-width: 920px) {
    .mainFrame {
        padding-left: 100px;
        padding-right: 100px;
    }
    .cardComment {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .mainFrame {
        padding-left: 80px;
        padding-right: 80px;
    }
    .bottomRow {
        font-size: 36px;
    }
    .cardComment {
        font-size: 14px;
    }
    .cardName {
        font-size: 14px;
        font-weight: 500;
    }
    
    .fontendDeveloper {
        font-size: 12px;
    }
    .words {
        font-size: 14px;
    }
    
    .cardNameProfile {
        @include dFlex($jc: space-between, $ai: center, $g: 10px);
        font-size: 14px;
        height: 50px;
    
    }
}
@media(max-width: 520px) {
    .mainFrame {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media(max-width: 382px) {
    .mainFrame {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cardComment {
        font-size: 12px;
    }
}