@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    max-width: 1440px;
    height: 720px;
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
}
p {
    margin: 0px;
}

.aboutMe {
    font-size: 64px;
    font-weight: 700;
    margin-top: 20px;
}

.leftContent {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    position: relative;
    box-sizing: content-box;
    flex-direction: column;
    width: 560px;
    height: 550px;
    background-color: whitesmoke;
    border: 0px solid blue;
}

.based {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-image: url('/assets/img/aboutme/yellow.png');
    position: absolute;
    top: 0px;
    font-size: 18px;
    color: whitesmoke;
    width: 560px;
    height: 170px;
    transform: rotate(-4deg);
    z-index: 3;
}

.locate {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-image: url('/assets/img/aboutme/blue.png');
    position: absolute;
    top: 132px;
    font-size: 18px;
    color: whitesmoke;
    width: 560px;
    height: 152px;
    transform: rotate(0deg);
    z-index: 2;
}

.remote {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-image: url('/assets/img/aboutme/orange.png');
    position: absolute;
    top: 224px;
    font-size: 18px;
    color: whitesmoke;
    width: 560px;
    height: 170px;
    transform: rotate(4deg);
    z-index: 1;
}

.lineBlue {
    width: 303px;
    height: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    transition: width 0.02s ease;
    animation: expandWidth 6s infinite; //
}

// @keyframes expandWidth {
//     0%, 42%, 100% {
//         width: 303px;
//         height: 20px;
//     }
//     50%, 92% {
//         width: 0px;
//         height: 20px;
//     }
// }

.letsTalk {
    border: 1px solid black;
    border-radius: 100px;
    background-color: whitesmoke;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 4px black;
    transition: background-color 0.1s, box-shadow 0.2s, transform 0.2s;

    &:hover {
        background-color: #F87A55;
        box-shadow: none;
        transform: translate(2px, 4px);
    }
}

.mainContent {
    @include dFlex($jc: center, $ai: center, $g: 80px);
    font-family: 'Bricolage Grotesque';
    width: 100%;
    background-color: whitesmoke;
    border: 0px solid red;
}

.rightContent {
    @include dFlex($jc: space-around, $ai: flex-start, $g: 0px);
    flex-direction: column;
    width: 560px;
    height: 560px;
    background-color: whitesmoke;
    border: 0px solid green;
}

.rightContentTop {
    @include dFlex($jc: space-between, $ai: flex-start, $g: 0px);
    flex-direction: column;
    width: 100%;
    border: 0px solid yellow;
}

.rightContentMiddle {
    @include dFlex($jc: center, $ai: flex-start, $g: 0px);
    width: 100%;
    // border: 0px solid orange;
}

.rightContentBottom {
    @include dFlex($jc: flex-end, $ai: flex-end, $g: 0px);
    width: 100%;
    height: 20%;
    border: 0px solid purple;
}