<section>
    <div class="mainContent">
        <div class="leftContent"><img src="assets/img/aboutme/Location.png"></div>
        <div class="rightContent">
            <div class="rightContentTop">
                <p>WHO`S MICHAEL?</p>
                <div class="aboutMe"><p>About me</p></div>
                <img class="lineBlue" src="assets/img/aboutme/19_Line.png">
            </div>
            <div class="rightContentMiddle">
                <p>Hi there! I'm Michael, a frontend developer passionate about creating intuitive and efficient digital experiences. 
                    With a natural problem-solving mindset and a keen eye for detail, 
                    I specialize in transforming complex concepts into visually appealing and functional web solutions.
                    <br><br>
                    Let’s collaborate and build something remarkable together!</p>
            </div>
            <div class="rightContentBottom">
                <div class="rowBottomBottom"><button class="letsTalk">Let`s talk</button></div>
            </div>
        </div>
    </div>
</section>
