@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.mainContent {
    @include dFlex($jc: space-between, $ai: center, $g: 0px);
    font-family: 'Bricolage Grotesque';
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    position: relative;
    height: 600px;
}

.whois {
    margin-bottom: 14px;
}

.aboutMe {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 0px);
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 64px;
    font-weight: 700;
}

.leftContent {
    @include dFlex($jc: flex-start, $ai: center, $g: 0px);
    position: relative;
    box-sizing: border-box;
    color: #FFFFFF;
    width: 50%;
    height: 100%;
}

.textIcon {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.imageStripe {
    max-width: 560px;
    width: 100%;
}

.based {
    position: absolute;
    font-size: 18px;
    top: 25%;
    z-index: 3;
    transform: rotate(-4deg);
}

.locate {
    position: absolute;
    font-size: 18px;
    top: 40%;
    z-index: 2;
}

.remote {
    position: absolute;
    top: 55%;
    font-size: 18px;
    z-index: 1;
    transform: rotate(4deg);
}

.lineBlue {
    overflow: hidden;
    transition: width 0.1s ease;
    animation: expandWidth 6s infinite;
    img {
        width: 250px;
    }
}
@keyframes expandWidth {
    0%, 100% {
        width: 0;
    }
    25%, 75% {
        width: 100%;
    }
}

.letsTalk {
    border-radius: 100px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 4px black;
    transition: background-color 0.1s, box-shadow 0.2s, transform 0.2s;
    &:hover {
        background-color: #F87A55;
        box-shadow: none;
        transform: translate(2px, 4px);
    }
}

.rightContent {
    @include dFlex($jc: center, $ai: center, $g: 48px);
    flex-direction: column;
    width: 50%;
}

.rightContentTop {
    @include dFlex($jc: center, $ai: flex-start, $g: 0px);
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.rightContentBottom {
    @include dFlex($jc: flex-end, $ai: center, $g: 0px);
    width: 100%;
}

@media(max-width: 1080px) {
    .mainContent {
        flex-direction: column-reverse;
        height: 840px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .rightContent {
        width: 100%;
    }
    .leftContent {
        @include dFlex($jc: center, $ai: space-between, $g: 0px);
        max-width: 560px;
        width: 100%;
    }
    .aboutMe {
        font-size: 48px;
    }
    .based {
        top: 20px;
    }
    .locate {
        top: 125px;
    }
    .remote {
        top: 234px;
    }
}
@media(max-width: 720px) {
    .mainContent {
        padding-left: 80px;
        padding-right: 80px;
    }
    .lineBlue {
        img {
            width: 180px;
        }
    }
    .rightContent {
        width: 100%;
    }
    .leftContent {
        width: 460px;
        height: 400px;  
    }
    .whois {
        font-size: 14px;
    }
    .aboutMe {
        font-size: 36px;
        font-weight: 700;
    }
    .based {
        top: 10px;
    }
    .locate {
        top: 110px;
    }
    .remote {
        top: 200px;
    }
    .letsTalk {
        font-size: 14px;
    }
    .iconLeft {
        width: 30px;
    }
}
@media(max-width: 580px) {
    .mainContent {
        height: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .rightContent {
        width: 100%;
    }
    .leftContent {
        margin-top: 30px;
        width: 360px;
        height: 400px; 
    }
    .aboutMe {
        font-size: 34px;
    }
    .based {
        font-size: 14px;
        top: 0px;
    }
    .locate {
        font-size: 14px;
        top: 80px;
    }
    .remote {
        font-size: 14px;
        top: 144px;
    }
    .iconLeft {
        width: 30px;
    }
}
@media(max-width: 420px) {
    .rightContent {
        width: 100%;
    }
    .leftContent {
        width: 250px;
        padding-left: 10px;
        padding-right: 10px;       
    }
    .iconLeft {
        width: 20px;
    }
    .based {
        font-size: 12px;
        top: 0px;
    }
    .locate {
        font-size: 12px;
        top: 60px;
    }
    .remote {
        font-size: 12px;
        top: 104px;
    }
}
