<section>
    <div class="skillsContent">
        <div class="skillsContentLeft">
            <p class="myStack">MY STACK</p>
            <div class="skillSetContainer">
                <p class="skillSet">Skill set</p>
                <img src="assets/icon/skills/orangeLine.png">
            </div> 
        </div>
        <div class="skillsContentMiddle">
            <div class="skillTextMiddle">
                <p class="skillText">
                    I have gained experience in building projects with a variety of 
                    frontend technologies and concepts. With a strong growth mindset, 
                    I’m always exploring new areas to enhance my skill set.
                </p>
            </div>
            <div class="skillSetContainer">
                <div class="skillItem"><img src="assets/icon/skills/html.png">
                    <div class="skillIconText"><p>HTML</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/css.png">
                    <div class="skillIconText"><p>CSS</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/js.png">
                    <div class="skillIconText"><p>JavaScript</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/ts.png">
                    <div class="skillIconText"><p>TypeScript</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/angular.png">
                    <div class="skillIconText"><p>Angular</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/firebase.png">
                    <div class="skillIconText"><p>Firebase</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/git.png">
                    <div class="skillIconText"><p>Git</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/api.png">
                    <div class="skillIconText"><p>Rest-Api</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/flutter.png">
                    <div class="skillIconText"><p>Flutter</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/dart.png">
                    <div class="skillIconText"><p>Dart</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/pinecone.png">
                    <div class="skillIconText"><p>Pinecone</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/photoshop.png">
                    <div class="skillIconText"><p>Photoshop</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/illustrator.jpg">
                    <div class="skillIconText"><p>Illustrator</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/scrum.png">
                    <div class="skillIconText"><p>Scrum</p></div>
                </div>
                <div class="skillItem"><img src="assets/icon/skills/materialDesign.png">
                    <div class="skillIconText"><p>MDesign</p></div>
                </div>
            </div>
                
        </div>
        <div class="skillsContentRight">
            <div class="skillButtonRight" (click)="toggleImage()">
                <img [src]="showFirstImage ? 'assets/icon/skills/pullMe1.png' : 'assets/icon/skills/pullMe3.png'">
            </div>
        </div>
            
    </div>
</section>
