@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-image: url('./../../../assets/img/backgrounds/02_Hero.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 1040px;
    width: 100%; // Nimmt 100% der verfügbaren Breite ein
    box-sizing: border-box; // Padding und Border werden in der Breite berücksichtigt
    margin: 0 auto;
}

.myStack {
    font-size: 20px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.skillSetContainer {
    position: relative;
}

.skillSet {
    font-size: 62px;
    font-weight: 700;
    color: whitesmoke;
    position: relative;
    z-index: 1;
}

.skillsContent {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-family: 'Bricolage Grotesque';
    max-width: 1440px;
    width: 100%;
    height: 100%;
    border: 1px solid brown;
}

.skillTextMiddle {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-image: url('./../../../assets/icon/skills/paper.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid yellow;
}

.skillText {
    font-size: 18px;
    padding-left: 5%;
}

.skillSetContainer {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    border: 4px solid blue;
    flex-wrap: wrap;
}

.skillItem {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    width: 130px;
    height: 130px;
    position: relative;
    > img {
        width: 72px;
        height: 72px;
        transform: translate(-50%, -50%);
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        &:hover {
            filter: grayscale(0%);
            width: 56px;
            height: 56px;
        }
    }
}

.skillIconText {
    @include dFlex($jc: center, $ai: flex-end, $g: 0px);
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
    position: absolute;
}

.skillsContentLeft {
    @include dFlex($jc: flex-start, $ai: flex-end, $g: 0px);
    flex-direction: column;
    border: 2px solid yellow;
}

.skillsContentMiddle {
    @include dFlex($jc: flex-start, $ai: center, $g: 0px);
    flex-direction: column;
    border: 1px solid red;
}

.skillsContentRight {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    border: 1px solid blue;
}

.skillButtonRight {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    border: 3px solid green;
    > img {
        cursor: pointer;
        transition: transform 0.3s ease;
        transform: rotate(8deg);
    }
}