<section>
    <div class="skillsContent">
        <div class="skillsContentLeft">
            <p class="myStack">{{ 'skills.stack' | translate }}</p>
            <div class="skillSetContainer">
                <p class="skillSet">{{ 'skills.title' | translate }}</p>
                <img src="assets/icon/skills/orangeLine.png">
            </div> 
        </div>
        <div class="skillsContentMiddle">
            <div class="skillTextMiddle">
                <p class="skillText">{{ 'skills.text' | translate }}</p>
            </div>
            <div class="skillSetContainer">
                @for (skill of skills; track skill) {
                    <div class="skillItem">
                        <img [src]="skill.icon" alt="{{skill.name}} icon">
                        <div class="skillIconText"><p>{{skill.name}}</p></div>
                    </div>
                }
            </div>
        </div>
        <div class="skillsContentRight">
            <div class="skillButtonRight" (click)="toggleImage()">
                <img [src]="showFirstImage ? 'assets/icon/skills/pullMe1.png' : 'assets/icon/skills/pullMe3.png'">
            </div>
        </div>
    </div>
</section>
