@import './../../../styles.scss';
section {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    background-image: url('./../../../assets/img/backgrounds/02_Hero.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
}

.myStack {
    font-size: 20px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.skillSet {
    font-size: 62px;
    font-weight: 700;
    color: whitesmoke;
    position: relative;
    z-index: 1;
}

.skillsContent {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    box-sizing: border-box;
    flex-direction: column;
    font-family: 'Bricolage Grotesque';
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 144px;
    padding-bottom: 144px;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

.skillSetContainer {
    position: relative;
    border: 0px solid blue;
}

.orangeBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid orange;
    >img {
        width: 100%;
        height: 100%;
    }
}

.skillTextTop {
    @include dFlex($jc: center, $ai: flex-start, $g: 0px);
    background-image: url('./../../../assets/icon/skills/paper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-left: 5%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 656px;
    width: 100%;
    height: 144px;
}

.skillSetIcons {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    box-sizing: border-box;
    margin-left: 20%;
    max-width: 700px;
    width: 100%;
    flex-wrap: wrap;
}

.skillItem {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column;
    width: 130px;
    height: 130px;
}

.imageContainer {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    padding-bottom: 4px;
    width: 72px;
    height: 72px;
}

.skillIconText {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
}

.skillsContentLeft {
    @include dFlex($jc: flex-start, $ai: flex-end, $g: 0px);
    flex-direction: column;
    box-sizing: border-box;
    border: 0px solid yellow;
}

.skillsContentTop {
    @include dFlex($jc: flex-start, $ai: center, $g: 0px);
    box-sizing: border-box;
    width: 100%;
}

.skillsContentBottom {
    @include dFlex($jc: flex-end, $ai: flex-start, $g: 0px);
    margin-top: 30px;
    width: 100%;
}

.skillButtonRight {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    margin-top: 30px;
    > img {
        cursor: pointer;
        transition: transform 0.3s ease;
        transform: rotate(8deg);
    }
}