/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
    scroll-behavior: smooth;
}
body {
    background-color: black;
}

.fontKalam{
    font-family: 'Kalam';
}

.fontBricolageGrotesque{
    font-family: 'Bricolage Grotesque';
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-Regular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Kalam/Kalam-Regular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
