@import './styles/mixin.scss';
@import './styles/animations.scss';
@import './styles/headerFX.scss';
@import './styles/skillsFX.scss';

*{
    scroll-behavior: smooth;
    margin: 0;
}
body {
    background-color: black;
    margin: 0;
}

.fontKalam{
    font-family: 'Kalam';
}

.fontBricolageGrotesque{
    font-family: 'Bricolage Grotesque';
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-Regular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Kalam/Kalam-Regular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
