<section>
    <div><app-header></app-header></div>
    <div class="goBack">
        <div class="arrowBack"><img src="assets/icon/detail/back.png"></div>
        <div class="back"><a href="#projects" style="color: black;" 
            onmouseover="this.style.color='#F87A55'" 
            onmouseout="this.style.color='black'">Go Back</a>
        </div>
    </div>
    <div class="detailFrame">
        <div class="detailFrameLeft">
            <div class="headline"><p>the Debugger</p></div>
            <div class="blueLine"><img src="assets/icon/detail/blueLine.png"></div>
            <div class="description"><p>Description</p></div>
            <div class="desText"><p>Jump, run and throw game based on object-oriented approach. 
                Help Michael to find coins and Spray to fight against the crazy Bugs.</p></div>
            <div class="impDetails"><p>Implementation Details</p></div>
            <div class="desText"><p>Short text that describes your role or the workflow for this specific project. 
                Let a recruiter know more about your knowledge and ability to work independently or collaboratively 
                in a structured way.</p></div>
            <div class="duration"><p><b>Duration:</b> 3 weeks</p></div>
            <div class="iconsDuration">
                <div class="icons"><img src="assets/icon/detail/js.png">JavaScript</div>
                <div class="icons"><img src="assets/icon/detail/html.png">HTML</div>
                <div class="icons"><img src="assets/icon/detail/css.png">CSS</div>
            </div>
        </div>
    <div class="detailFrameRight">
            <div class="imageLogoFrame"><img class="projectImage" src="assets/img/projects/theDebugger.png">
                    <div class="logo">
                        <svg viewBox="0 0 200 200" class="circle-text">
                            <defs>
                                <path id="circlePath" d="M 100, 100 m -75, 0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0"></path>
                            </defs>
                            <text>
                                <textPath xlink:href="#circlePath" startOffset="50%">
                                    Michael Spari - Frontend Developer Michael Spari - Frontend Developer 
                                </textPath>
                            </text>
                        </svg>
                        <img src="assets/icon/detail/yellowSticker.png" alt="Logo Sticker">
                        <img class="logoImage" 
                                    src="assets/logo/logo_ms_en_over.png" alt="logo" 
                                    srcset="" onmouseover="this.src='assets/logo/logo_ms_en.png'" 
                                    onmouseout="this.src='assets/logo/logo_ms_en_over.png'">
                    </div>
                        <div class="buttonFrame">
                            <div class="sendButton"><button class="gitandLiveBtn">GitHub</button></div>
                            <div class="sendButton"><button class="gitandLiveBtn"><a href="theDebugger/index.html">Live Test</a></button></div>
                        </div>
            </div>
        </div>
    </div>
    <div class="goNext">
        <div class="next"><a href="#projects">Next Project</a></div>
        <div class="arrowNext"><img src="assets/icon/detail/next.png"></div>
    </div>
</section>
