@import './../../../styles.scss';
section {
    font-family: "Bricolage Grotesque";
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.mainFrame {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
}

.gitHub {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column-reverse;
}

.linkedIn {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column-reverse;
}

.email {
    @include dFlex($jc: center, $ai: center, $g: 0px);
    flex-direction: column-reverse;
}

.logoRow {
    width: 100%;
    padding-bottom: 10px;
}

.logoImage {
    width: 120px;
    padding-bottom: 15px;
}

.linkRow {
    @include dFlex($jc: space-between, $ai: center, $g: 0px);
    width: 100%;
}

.nav-text {
    font-size: 18px;
    mix-blend-mode: difference;
    color: white;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}

.legalNotice {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 45px;
    overflow: hidden;

.legalNoticeText {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.legalNoticeOutLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease;
    z-index: 1;
    img {
        width: 105px;
        height: 43px;
        object-fit: cover;
    }
}

    &:hover {
        .legalNoticeOutLine {
            width: 105px;
        }
    }
}
@media(max-width: 900px) {
    .mainFrame {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media(max-width: 768px) {
    .mainFrame {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media(max-width: 520px) {
    .mainFrame {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media(max-width: 382px) {
    .mainFrame {
        padding-left: 10px;
        padding-right: 10px;
    }
}